.DS_Store
Resource_Usage/
*.Rhistory
.nextflow*
results/
work/
MultiQC_Outputs/
Bismark*
samples.txt
Filtered_Sequence_Data/
Reference_Genome_Files/
Metadata/
MethylKit_Outputs/
test-reads/
test-MethylKit_Outputs/
test-data/
test-meth-calls/
test-ref-files/
.nf-test/
