.DS_Store
Resource_Usage/
*.Rhistory
.nextflow*
results/
work/
FastQC_Outputs/
Bismark*
Methylation_Call_Data/
samples.txt
Filtered_Sequence_Data/
Reference_Genome_Files/
Metadata/
Differential_Methylation_Analysis_Data/
test-reads/
test-MethylKit_Outputs/
test-data/
test-meth-calls/
test-ref-files/
.nf-test/
setting-up-for-slurm-and-singularity-notes.txt
