// Parameters to set
params {

    /*
    * ----------------------------------------------------
    *  PARAMETERS THAT SHOULD BE SET/CHECKED FOR EACH USE
    * ----------------------------------------------------
    */

    // glds accession number, or 'null' if providing your own runsheet specified next (no quotes if 'null')
    // gldsAccession = "GLDS-XXX"
    gldsAccession = null

    // path to runsheet (in quotes) if doing a non-GLDS dataset, 
        // otherwise set to null (no quotes), and it will be generated based on
        // the provided gldsAccession argument above
    // runsheet = null
    runsheet = "test-data/test-runsheet.csv"

    // 'true' if data are reduced-representation bisulfite sequencing (RRBS),
        // 'false' if not (no quotes)
    rrbs = true

    /* **** TrimGalore settings regarding the library preparating method ****
    * SITUATION 1: lib_type = 1
    *     If not RRBS, or if RRBS using Msel digestion, this should be set to: lib_type = 1
    * SITUATION 2: lib_type = 2
    *     If RRBS with Mspl digestion, this should be set to: lib_type = 2
    * SITUATION 3: lib_type = 3
    *     If RRBS with NuGEN ovation kit, this should be set to: lib_type = 3
    */

    lib_type = 3

    /* **** Alignment and trimming setting regarding the library preparating method **** */
    // should be 'true' if non_directional sequencing was performed, 'false' otherwise (no quotes)
    // if you're not sure, this should most likely be left as 'false'
    non_directional = false

    /*
    * ------------------------------------------
    *  PARAMETERS THAT MIGHT WANT TO BE CHANGED
    * ------------------------------------------
    */

    /* **** Thread/cpu settings for parallel options **** */
    general_threads = 2 // this includes settings for: samtools sort, qualimap, trim_galore
    bismark_index_creation_threads = 2 // this one will be doubled, see bismark_genome_preparation docs
    bismark_align_threads = 2 // this one will be doubled for operating on both strands, see bismark docs
    bismark_parallel_jobs = 2 // this sets the number of bismark parallel jobs to run, see bismark docs (no higher than 4 is recommended)
    
    /* **** Memory setting options **** */
    qualimap_java_mem_size = "6G" // see: http://qualimap.conesalab.org/doc_html/faq.html?highlight=java-mem-size

}

// the following configuration file holds more in-the-weeds settings
includeConfig 'config/additional-settings.config'
