// Config that specifies conda env yaml files for each process

conda.cacheDir = '/opt/conda/envs'

process {

    withName: 'FASTQC|MULTIQC' {
        conda = "config/software/conda-envs/QC.yaml"
    }

    withName: 'TRIMGALORE' {
        conda = "config/software/conda-envs/trim-galore.yaml"
    }

    withName: 'GEN_BISMARK_REF|ALIGN|DEDUPLICATE|EXTRACT_METHYLATION_CALLS|GEN_BISMARK_SAMPLE_REPORT|GEN_BISMARK_SUMMARY' {
        conda = "config/software/conda-envs/bismark.yaml"
    }

    withName: 'ALIGNMENT_QC' {
        conda = "config/software/conda-envs/align-qc.yaml"
    }

    withName: 'GTF_TO_PRED|PRED_TO_BED' {
        conda = "config/software/conda-envs/gtf-to-bed.yaml"
    }

    withName: 'METHYLSEQ_RUNSHEET_FROM_GLDS|GENERATE_METASHEET' {
        conda = "config/software/conda-envs/dp-tools.yaml"
    }

    withName: 'DIFFERENTIAL_METHYLATION_ANALYSIS' {
        conda = "config/software/conda-envs/methylkit.yaml"
    }

}
