// Config that specifies conda env yaml files for each process

conda.cacheDir = '/opt/conda/envs'

process {

    withName: 'FASTQC|MULTIQC' {
        conda = "config/software/conda-envs/QC.yaml"
    }

    withName: 'TRIMGALORE' {
        conda = "config/software/conda-envs/trim-galore.yaml"
    }

    withName: 'GEN_BISMARK_REF|ALIGN|DEDUPLICATE|EXTRACT_METHYLATION_CALLS' {
        conda = "config/software/conda-envs/bismark.yaml"
    }

}
