// Config that specifies docker/singularity images for each process

process {

    withName: 'FASTQC|MULTIQC' {
        container = "quay.io/astrobiomike/gl-methylseq-wf-qc:c0595f7"
    }

    withName: 'TRIMGALORE' {
        container = "quay.io/astrobiomike/gl-methylseq-wf-trimgalore:4e14b7d"
    }

    withName: 'GEN_BISMARK_REF|ALIGN|DEDUPLICATE|EXTRACT_METHYLATION_CALLS|GEN_BISMARK_SAMPLE_REPORT|GEN_BISMARK_SUMMARY|CLEAN_FOR_PACKAGING' {
        container = "quay.io/astrobiomike/gl-methylseq-wf-bismark:32b6a57"
    }

    withName: 'ALIGNMENT_QC' {
        container = "quay.io/astrobiomike/gl-methylseq-wf-align-qc:ced32c1"
    }

    withName: 'GTF_TO_PRED|PRED_TO_BED' {
        container = "quay.io/astrobiomike/gl-methylseq-wf-gtf-to-bed:0d8c48c"
    }
    
    withName: 'METHYLSEQ_RUNSHEET_FROM_GLDS|GENERATE_METASHEET|DOWNLOAD_GUNZIP_REFERENCES' {
        container = "quay.io/j_81/dp_tools:1.1.9"
    }

    withName: 'DIFFERENTIAL_METHYLATION_ANALYSIS' {
        container = "quay.io/astrobiomike/gl-methylseq-wf-methylkit:962227a"
    }

    withName: 'NUGEN_TRIM' {
        container = "quay.io/astrobiomike/gl-methylseq-wf-nugen-trim:5666549"
    }

}
