// Config that specifies local conda env locations when testing locally

process {
    
    withName: 'FASTQC|MULTIQC' {
        conda = "/Users/mdlee4/miniconda3/envs/QC"
    }

    withName: 'TRIMGALORE' {
        conda = "/Users/mdlee4/miniconda3/envs/trim-galore"
    }

    withName: 'GEN_BISMARK_REF|ALIGN|DEDUPLICATE|EXTRACT_METHYLATION_CALLS' {
        conda = "/Users/mdlee4/miniconda3/envs/bismark"
    }

}
